*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.emailList{
    text-align: center;
    list-style-type: none;
    margin-top: 50px;
}
li{
    padding: 5px;
}

.control{
     text-align: center;

     .reset{
        padding: 15px;
        border-radius: 10%;
        background-color: aqua;
        font-weight: bolder;
        margin-left: 30px;
        margin-top: 50px;
     }
     
}
